<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Will you allow the app to use always and when in use?</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Will you allow the app to use the location info when you use the App.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Will you allow the app to use the location info always.</string>
</dict>
</plist>
